[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
requests = "==2.20.1"
flask-restplus = "==0.12.1"
marshmallow = "==3.0.0rc6"
prometheus-flask-exporter = "==0.9.0"
deepdiff = "==4.3.0"
zipp = "==1.2.0"
pyrsistent = "==0.16.0"
Jinja2 = "==2.10.1"
Flask = "==1.0.2"
PyYAML = "==5.1"
uWSGI = "==2.0.16"
Werkzeug = "==0.16.1"
MarkupSafe = "==1.1.1"
tenacity = "==6.2.0"

[requires]
python_version = "3.8"
