{
  "type": "message",
  "attachments": [
    {
      "contentType": "application/vnd.microsoft.card.adaptive",
      "content": {
        "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
        "type": "AdaptiveCard",
        "version": "1.4",
        "msteams": {
          "width": "Full"
        },
        "body": [
          {
            "type": "ColumnSet",
            "style": "{% if status=='resolved' %}good{% else %}attention{% endif %}",
            "columns": [
              {
                "type": "Column",
                "width": "stretch",
                "items": [
                  {
                    "type": "TextBlock",
                    "text": "Prometheus alert {{ msg_text.name }} {% if status=='resolved' %}(Resolved){% elif status=='unknown' %}(status unknown){% else %}triggered{% endif %}",
                    "weight": "Bolder",
                    "size": "Large"
                  },
                  {
                    "type": "TextBlock",
                    "text": "{% if status=='resolved' %}(Resolved) {% endif %}{{ msg_text.summary }}",
                    "wrap": true
                  }
                ]
              }
            ]
          },
          {
            "type": "FactSet",
            "facts": [
              {% if msg_text.name %} { "title": "Alert", "value": "{{ msg_text.name }}" }, {% endif %}
              {% if msg_text.instance %} { "title": "In host", "value": "{{ msg_text.instance }}" }, {% endif %}
              {% if msg_text.severity %} { "title": "Severity", "value": "{{ msg_text.severity }}" }, {% endif %}
              {% if msg_text.description %} { "title": "Description", "value": "{{ msg_text.description }}" }, {% endif %}
              { "title": "Status", "value": "{{ msg_text.status }}" }
              {% if msg_text.extra_labels %}
                {% for key in msg_text.extra_labels %}
                  , { "title": "{{ key }}", "value": "{{ msg_text.extra_labels[key] }}" }
                {% endfor %}
              {% endif %}
              {% if msg_text.extra_annotations %}
                {% for key in msg_text.extra_annotations %}
                  , { "title": "{{ key }}", "value": "{{ msg_text.extra_annotations[key] }}" }
                {% endfor %}
              {% endif %}
            ]
          }
        ]
        {% if msg_text.runbook_url %}
        ,
        "actions": [
            {
                "type": "Action.OpenUrl",
                "title": "View details",
                "url": "{{ msg_text.runbook_url }}"
            }
        ]
        {% endif %}
      }
    }
  ]
}