# Default values for prom2teams.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: idealista/prom2teams
  tag:
  pullPolicy: IfNotPresent

resources:
 requests:
   cpu: 100m
   memory: 128Mi
 limits:
   cpu: 200m
   memory: 200Mi

service:
  type: ClusterIP
  port: 8089
#  annotations:
#    prometheus.io/scrape: "true"
#    prometheus.io/port: "8089"
#    prometheus.io/scheme: http
#    prometheus.io/path: /metrics

prom2teams:
  host: 0.0.0.0
  port: 8089
  metrics: false
  connector:
  connectors: {}
  # group_alerts_by can be one of
  # ("name" | "description" | "instance" | "severity" | "status" | "summary" | "fingerprint" | "runbook_url")
  group_alerts_by:
  # loglevel can be one of (DEBUG | INFO | WARNING | ERROR | CRITICAL)
  loglevel: INFO
  templatepath: /opt/prom2teams/helmconfig/teams.j2
  config: /opt/prom2teams/helmconfig/config.ini
  extraEnv: {}

podAnnotations: {}

securityContext:
  privileged: false
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  runAsUser: 101
  runAsGroup: 101

podSecurityContext:
  fsGroup: 2000
  seccompProfile:
    type: RuntimeDefault